* {
box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #97f217fa;
    width: 100vw;
    min-height: 100vh;
   

}
.main{
    margin: 30px;
    width: 95vw;
    height: 95vh;
   
    background-color: rgb(248, 240, 240);
    box-shadow: 5px 5px 100px 10px rgb(192, 158, 158);
    border-radius: 10px;


}
nav{
    margin: 0 auto;
    width:90%;
    height: 100px;
    position: relative;
   
}
.button{
    display: flex;
    margin-top: 5px;
    color: bisque;
    text-decoration: none;
    background-image: linear-gradient(360deg,crimson, rgb(240, 8, 39));
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 15px;
    
}
.button2{
    color: bisque;
    text-decoration: none;
    background-image: linear-gradient(to right,rgba(75, 29, 191, 0.872), rgb(29, 111, 254));
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 15px 1px blue;
}
.button:hover{
    padding: 11px 11px;
    background-image: linear-gradient(to right,rgba(213, 38, 181, 0.872),crimson);
}

.button2:hover{
    padding: 12px 32px;
    background-image: linear-gradient(to right,rgba(213, 38, 181, 0.872),crimson);
    box-shadow: 3px 3px 15px 1px blue;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    width: 600px;
    list-style: none;  
}
.list li a{
    color: black;
    text-decoration: none;
}
.list li a:hover{
   
    background-color: black;
    color: wheat;
    padding: 5px;
    border-radius: 5px;
}

.container{
    padding-top: 20px;    
}

.img{
    float: left;
}
.buttonparent{  
    float: right;



}
.listparent{
    position: absolute;
    left: 200px;
}

.container2{
    height: 533px;
    width: 100%;
    display: flex;
}


.font{
    font-family: Arial, Helvetica, sans-serif;
}

.c{
    line-height: 15px;
    font-weight: 800;
    font-size: 50px;
}
.a{
    margin-top: 10%;
      width: 60%; 
      margin-right: 5%;
    
    
    }
.ab{
   height: 100%;
    
    }
.intro{
        width: 50%;
        
    }
    
.intro img{
        height: 100%;
       
    }

.icon{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.icon img:hover{
    width: 20px;
    height: 20px;

}

